<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arnaud Babol</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container" style="padding-top: 5px">
      <div id="text-header" class="row">
        <div style="width: 20%; float: left; text-align: center; padding-left: 15px;">
          <div class="text-center">
            <div id="photo">
              <img src="./img/avatar.png" alt="avatar">
            </div>
          </div>
        </div>
        <div id="photo-header">
          <h1 style="margin-top: -13px; margin-left: -10px;">Arnaud Babol<br>Développeur <span>Full-Stack</span><br><span id='age'>23</span> ans</h1>
        </div>
        <div id="contact">
          <div class="table box clearfix">
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-phone fa-fw"></i></div>
              <div class="cell title only">{{ contact.phone }}</div>
            </div>
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-envelope fa-fw"></i></div>
              <div class="cell title only">{{ contact.mail }}</div>
            </div>
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-github fa-fw"></i></div>
              <div class="cell title only">{{ contact.github }}</div>
            </div>
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-twitter fa-fw"></i></div>
              <div class="cell title only">{{ contact.twitter }}</div>
            </div>
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-rocket fa-fw"></i></div>
              <div class="cell title only">{{ contact.portfolio }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <!-- ABOUT ME -->
          <div class="box">
            <h2 class="margin-top-about">Objectif</h2>
            <p class="description">{{{ about.fr.description }}}</p>
          </div>
          <!-- SKILLS -->
          <div class="box skills" id="skills">
            <h2 style="margin-top: 15px;">Compétences</h2>
            <ul>
              <li><b>Web (JavaScript):</b> {{#each skills}}{{#if this.webjs}}{{this.tech}}{{this.separator}}{{/if}}{{/each}}</li>
              <li><b>Web (Autres):</b> {{#each skills}}{{#if this.web}}{{this.tech}}{{this.separator}}{{/if}}{{/each}}</li>
              <li><b>Software:</b> {{#each skills}}{{#if this.software}}{{this.tech}}{{this.separator}}{{/if}}{{/each}}</li>
              <li><b>Admin/BDD:</b> {{#each skills}}{{#if this.admin}}{{this.tech}}{{this.separator}}{{/if}}{{/each}}</li>
              <li><b>Testing:</b> {{#each skills}}{{#if this.testing}}{{this.tech}}{{this.separator}}{{/if}}{{/each}}</li>
              <li><b>Langues:</b> Français & Anglais niveau avancé/bilingue</li>
              <li><b>Autres:</b> {{#each skills}}{{#if this.others}}{{this.tech}}{{this.separator}}{{/if}}{{/each}}</li>
            </ul>
          </div>
          <!-- EXPERIENCES -->
          <div class="box">
            <h2 style="margin-top: 15px;">Expériences</h2>

            <!-- JOB ITEM -->
            {{#each experiences.fr}}
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">{{ this.title }}</div>
                <div class="year tech">{{ this.date }}<br>
                  {{#each this.tech}}
                    <span class="label label-default">{{this}}</span>
                  {{/each}}
                </div>
              </div>
              <div class="col-xs-9">
                <div class="profession">
                  {{ this.position }}
                  <span class="duration">- {{this.duration}}</span>
                  <a href="{{ this.link }}" target="_blank">{{ this.link }}</a>
                </div>
                <div class="description">
                  {{ this.description }}
                  <ul>
                    {{#each this.descriptionLi}}
                      <li>{{this}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
          <!-- FEATURED PROJECT -->
          <div class="box">
            <h2 style="margin-top: 15px;">Dernier Projet</h2>

            <!-- JOB ITEM -->
            {{#each projects.fr}}
              {{#if this.featured}}
              <div class="job clearfix">
                <div class="col-xs-3">
                  <div class="where">Technologies</div>
                  <div class="tech">
                    {{#each this.tech}}
                      <span class="label label-default">{{this}}</span>
                    {{/each}}
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="profession">
                    {{ this.title }}
                    <a href="{{ this.link }}" target="_blank">{{ this.link }}</a>
                  </div>
                  <div class="date">{{ this.date }}</div>
                  <div class="description">
                    {{ this.description }}
                    <ul>
                      {{#each this.descriptionLi}}
                        <li>{{this}}</li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
              {{/if}}
            {{/each}}

          </div>

          <!-- EDUCATION -->
          <div class="box">
            <h2>Éducation</h2>
            <ul id="education" class="clearfix">
              {{#each timeline.fr}}
                <li>
                  <div class="year pull-left">{{ this.date }}</div>
                  <div class="description pull-right">
                    <h3>{{ this.title }}</h3>
                    <p>{{{ this.description }}}</p>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
          <!-- MEETUPS -->
          <div class="box skills">
            <h2 style="margin-top: 15px;">Meetups</h2>
            <ul>
              <li><b>France:</b> {{#each meetup.france}}{{this}}{{/each}}</li>
              <li><b>Londres:</b> {{#each meetup.london}}{{this}}{{/each}}</li>
            </ul>
          </div>
          <!-- HOBBIES -->
          <div class="box hobbies">
            <h2 style="margin-top: 15px;">Hobbies</h2>
            {{#each hobbies.fr}}<div class="hobby">{{this}}</div>{{/each}}
          </div>
        </div>
      </div>
    </div>
    <!-- JQUERY -->
    <script src="js/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="js/bootstrap.min.js"></script>
    <!-- SCRIPTS -->
    <script src="js/scripts.js"></script>
  </body>
</html>
