<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arnaud Babol</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container" style="padding-top: 10px;">
      <div id="text-header" class="row">
        <div style="width: 20%; float: left; text-align: center; padding-left: 15px;">
          <div class="text-center">
            <div id="photo">
              <img src="./img/avatar.jpg" alt="avatar">
            </div>
          </div>
        </div>
        <div id="photo-header">
          <h1 style="margin-top: -13px; margin-left: -10px;">Arnaud Babol<br><span>Full-Stack</span> Developer<br><span id='age'>23</span> years old</h1>
        </div>
        <div id="contact">
          <div class="table box clearfix">
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-phone fa-fw"></i></div>
              <div class="cell title only"><a style="color:#363636" href="tel:{{ contact.phone }}">{{ contact.phone }}</a></div>
            </div>
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-envelope fa-fw"></i></div>
              <div class="cell title only"><a style="color:#363636" href="mailto:{{ contact.mail }}">{{ contact.mail }}</a></div>
            </div>
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-github fa-fw"></i></div>
              <div class="cell title only"><a style="color:#363636" href="https://github.com/{{ contact.github }}">{{ contact.github }}</a></div>
            </div>
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-twitter fa-fw"></i></div>
              <div class="cell title only"><a style="color:#363636" href="https://twitter.com/arbabol">{{ contact.twitter }}</a></div>
            </div>
            <div class="row contact-item">
              <div class="cell icon"><i class="fa fa-rocket fa-fw"></i></div>
              <div class="cell title only"><a style="color:#363636" href="{{ contact.portfolio }}">{{ contact.portfolio }}</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <!-- ABOUT ME -->
          <div class="box">
            <h2 class="margin-top-about">About Me</h2>
            <p class="description">{{{ about.description }}}</p>
          </div>
          <!-- EXPERIENCES -->
          <div class="box">
            <h2>Experiences</h2>

            <!-- JOB ITEM -->
            {{#each experiences}}
            <div class="job clearfix" id="job">
              <div class="col-xs-3">
                <div class="where">{{ this.title }}</div>
                <div class="year tech">{{ this.date }}<br>
                  {{#each this.tech}}
                    <span class="label label-default">{{this}}</span>
                  {{/each}}
                </div>
              </div>
              <div class="col-xs-9">
                <div class="profession right-link">
                  {{ this.position }}
                  <span class="duration">- {{ this.city }} - {{this.duration}}</span>
                  <a href="http://{{ this.link }}" target="_blank">{{ this.link }}</a>
                </div>
                <div class="description">
                  {{ this.description }}
                  <ul>
                    {{#each this.descriptionLi}}
                      <li>{{this}}</li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
          <!-- RECENTS PROJECT -->
          <div class="box" id="project">
            <h2>Recent projects</h2>

            <!-- JOB ITEM -->
            {{#each projects}}
              {{#if this.resume}}
              <div class="job clearfix project col-xs-6">
                <div class="col-project-img">
                  <img src="{{ this.icon }}" width="59" />
                </div>
                <div>
                  <div class="profession">
                    <div class="col-project-title">
                      {{ this.title }}
                        {{#if this.link}}
                          - <a href="http://{{ this.link }}" target="_blank">{{ this.link }}</a>
                        {{/if}}
                    </div>
                  </div>
                  <div class="description">
                    {{ this.description }}
                    <ul>
                      {{#each this.descriptionLi}}
                        <li>{{this}}</li>
                      {{/each}}
                    </ul>
                  </div>
                  <div class="tech">
                    {{#each this.tech}}
                      <span class="label label-default">{{this}}</span>
                    {{/each}}
                  </div>
                </div>

              </div>
              {{/if}}
            {{/each}}

          </div>

          <section class="box" style="margin-bottom: 0px; clear: both;">
            <!-- EDUCATION -->
            <div class="col-xs-6 no-padding" id="education">
              <h2>Education</h2>
              <div>
                <ul class="education-text list-no-style">
                  <b>ISEN Lille - France</b>
                  {{#each education.isen}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </section>

          <!-- MEETUPS -->
          <section class="box">
            <div class="skill col-xs-6 no-padding" id="meetup">
              <h2>Meetups</h2>
              <ul class="list-no-style">
                <b>France</b>
                <li>{{#each meetup.france}}{{this}}{{/each}}</li>
                <b>London</b>
                <li>{{#each meetup.london}}{{this}}{{/each}}</li>
                <b>Bay Area</b>
                <li>{{#each meetup.bay}}{{this}}{{/each}}</li>
              </ul>
            </div>

          </section>

          <section class="box">
            <div id="hobbies" class="hobbies col-xs-12 no-padding">
              <h2>Hobbies</h2>
              <div class="col-xs-12">
                <div style="display: flex;">
                  <div class="col-xs-2" style="display:flex; align-items: center;"><img src="./img/hobbies/longboard.svg" width="60" /></div>
                  <div class="col-xs-2" style="display:flex; align-items: center; margin-top: 9px;"><img style="position: relative; left: -5px;" src="./img/hobbies/music.png" width="55" /></div>
                  <div class="col-xs-2" style="display:flex; align-items: center; margin-top: 8px;"><img src="./img/hobbies/programming.svg" width="55" /></div>
                  <div class="col-xs-2" style="display:flex; align-items: center; margin-top: 2px;"><img src="./img/hobbies/video_games.svg" width="55" /></div>
                  <div class="col-xs-2" style="display:flex; align-items: center;"><img src="./img/hobbies/future.svg" width="55" /></div>
                  <div class="col-xs-2" style="display:flex; align-items: center;"><img src="./img/hobbies/movies.svg" width="55" /></div>
                </div>
              </div>
            </div>
          </section>

          <section id="robot-hidden">{{robot}}</section>
      </div>
    </div>
    <!-- JQUERY -->
    <script src="js/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="js/bootstrap.min.js"></script>
    <!-- SCRIPTS -->
    <script src="js/scripts.js"></script>
  </body>
</html>
