    <!-- ==============================================
    FOOTER
    =============================================== -->

    <footer id="contact" class="dark-bg light-typo">

      <div class="container">

        <header class="section-header text-center">

          <h1 class="scrollimation scale-in">Drop Me a Line</h1>
          <div class='website scrollimation scale-in'>
						<p class="text-center">
	            <a class="btn btn-meflat white icon-left" href="mailto:{{ contact.mail }}"><i class="fa fa-envelope-o"></i>{{ contact.mail }}</a><br/>
							<a class="btn btn-meflat white icon-left" href="{{ about.cvLink }}" target="_blank"><i class="fa fa-file"></i>Download my Résumé</a>
						</p>
          </div>

        </header>

        <div class="row">

          <div class="col-sm-6 col-centered">
            <ul class="social-links">
              <li class="scrollimation fade-right d3"><a href="{{ contact.angellist }}" target="_blank"><i class="fa fa-angellist fa-fw"></i></a></li>
              <li class="scrollimation fade-right d2"><a href="https://github.com/{{ contact.github }}" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
              <li class="scrollimation fade-right d1"><a href="https://twitter.com/{{ contact.twitter }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
              <li class="scrollimation fade-right"><a href="{{ contact.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
            </ul>
          </div>

        </div>

      </div>

    </footer>
