    <!-- ==============================================
    HEADER
    =============================================== -->
    <header id="home" class="jumbotron">

      <div class="row jedi">

        <div class="col-sm-8 col-sm-offset-2" style='padding-left:0px;'>

          <img class="img-responsive img-center scrollimation levitate tech head{{#if levitate.top.text}} isTooltip{{/if}}" src="{{ levitate.top.img }}" data-title-en="{{{ levitate.top.text }}}" width="auto" height="60" />
          <img class="img-responsive img-center scrollimation levitate tech hand left isTooltip" src="{{ levitate.left.img }}" data-title-en="{{{ levitate.left.text }}}" />
          <img class="img-responsive img-center scrollimation levitate tech hand right isTooltip" src="{{ levitate.right.img }}" data-title-en="{{{ levitate.right.text }}}" />
          <img class="img-responsive img-center scrollimation levitate arnaud" src="assets/img/levi/levitation.svg" style="height: 300px;" alt="" />
          <span class="shadow"></span>

        </div>

      </div>

    </header><!--End header -->
