<section id="experiences" class="dark-bg light-typo">

  <div class="container">
    <header class="section-header text-center">

      <h1 class="scrollimation scale-in">Experiences</h1>

    </header>

      {{#each experiences.en}}
      <div class="row margin-bottom15">
        <div class="col-sm-12 col-lg-4 text-col img-center scrollimation fade-right" style="text-align: center;">

          <img src='{{ this.img.src }}' width='{{ this.img.width }}' height='{{ this.img.height }}' />

          <div class="sum">
            <em>{{ this.description }}</em>
          </div>

          <div class="tech">
             {{#each this.tech}}
              <span class="label label-white">{{this}}</span>
            {{/each}}
          </div>

        </div>

        <div class="col-sm-12 col-lg-8 scrollimation fade-left text-center-sm margin-top20-sm">

          <div class="profession">
            <h2>{{ this.position }}</h2>
          </div>
          <div class="date">{{ this.date }}{{#if this.duration}} ({{this.duration}}){{/if}} - {{ this.location }}</div>
          <div class="description">
            <ul>
              {{#each this.descriptionLi}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
          <div class='website text-center-sm'>
            <a class="btn btn-meflat two white icon-right" href="{{this.link}}" target='_blank'>Visit Website<i class="fa fa-rocket"></i></a>
          </div>

        </div>
            </div>
      {{/each}}


  </div>

</section>
