<!-- ==============================================
		FEATURED PROJECT
		=============================================== -->
		{{#each projects.en}}
      {{#if this.featured}}
      <section id="feat-project" class="white-bg padding-top">

			<div class="container">

				<header class="section-header text-center">

					<h1 class="scrollimation scale-in">Featured Project</h1>
					<h2 class="scrollimation scale-in">{{ this.title }}</h2>

					<p>
						{{ this.description }}
					</p>
					{{#each this.keys}}
              <span class="label label-flat">{{this}}</span>
          {{/each}}

				</header>

				<div class="scrollimation fade-up">
					<img class="img-responsive img-center" src="assets/img/chrome-top.png" alt="" />

					<div class="img-wrapper">

						<img class="img-responsive img-center" src="{{ this.featImg }}" alt="" />

						<p class="text-center on-hover"><a target='_blank' class="btn btn-meflat icon-right" href="{{ this.link }}">Go to Demo<i class="fa fa-rocket"></i></a></p>

					</div>
				</div>

			</div>

		</section>
      {{/if}}
    {{/each}}
