<!-- ==============================================
    FEATURED PROJECT
    =============================================== -->
    {{#each projects.en}}
      {{#if this.featured}}
      <section id="feat-project" class="white-bg padding-top">

      <div class="container">

        <header class="section-header text-center">

          <h1 class="scrollimation scale-in">Featured Project</h1>
          <h2 class="scrollimation scale-in">{{ this.title }}</h2>

          <p>
            {{ this.description }}
          </p>
          {{#each this.keys}}
              <span class="label label-flat">{{this}}</span>
          {{/each}}

        </header>

        <div class="scrollimation fade-up">
          <img class="img-responsive img-center" src="assets/img/chrome-top.png" alt="" />

          <div class="img-wrapper">

            {{#if this.featVideo}}
              <video width="796" height="597" class="img-responsive img-center feat-project-item" autoplay="true" loop="true">
                <source src="{{ this.featVideo }}" type="video/mp4">
              </video>
            {{else}}
              <img width="800" height="600" class="img-responsive img-center feat-project-item" src="{{ this.featImg }}" alt="" />
            {{/if}}

            <p class="text-center on-hover"><a target='_blank' class="btn btn-meflat icon-right" href="{{ this.link }}">Go to Demo<i class="fa fa-rocket"></i></a></p>

          </div>
        </div>

      </div>

    </section>
      {{/if}}
    {{/each}}
